@media screen and (max-width: 760px){
  .jnv-header {
    .jnv-header__navigation-bar--mobile {
      display: block;
    }

    .jnv-header__navigation-bar--desktop {
      display: none;
    }
  }

  .jnv-header__full-logo {
    width: 200px;
  }
}