@media screen and (max-width: 999px) {
  .jnv-hero-detail {
    .jnv-hero-detail__container {
      .jnv-hero-detail__wrapper {
        flex-direction: column;

        .jnv-hero-detail__hero-portrait-container, .jnv-hero-detail__detail-container {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}