.jnv-header__navigation-bar--mobile {
  display: none;
  margin-left: auto;

  .jnv-header__mobile-menu-icon {
    cursor: pointer;      
    display: flex;
  }
}

.jnv-header__mobile-menu-item {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: $jnv-app__background--primary;
  z-index: 9999;

  .jnv-header__mobile-menu--top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img, svg {
      cursor: pointer;
    }

    svg:hover {
      .jnv-svg__x-mark {
        fill: $jnv__color--white;
      }        
    }
  }

  .jnv-header__mobile-menu--mid {
    margin: 30px 0;
  }

  .jnv-header__mobile-menu--bot {
    padding-top: 30px;
    border-top: 1px solid $jnv__color--light-grey;

    .jnv-locale-switcher {
      margin-left: 0;

      .jnv-locale-switcher__choose-button {
        padding: 0;
        flex-direction: row;
        font-size: 20px;

        img {
          width: 50px;
          margin: 0 20px 0 0;
        }
      }

      .jnv-locale-switcher__option {
        width: 100%;
        font-size: 20px;

        .jnv-locale-switcher__item {
          span {
            margin: 0;
          }
          
          img {
            width: 50px;
            margin-right: 20px;
          }

          &:first-child {
            padding: 15px 15px 7.5px;
          }
          &:last-child {
            padding: 7.5px 15px 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 999px) {
  .jnv-menu__container--desktop {
    display: none;
  }
}