.jnv-dropdown {
  position: relative;
  z-index: 9998;
  white-space: nowrap;

  &__selector {
    cursor: pointer;
    display: flex;
    align-items: center;

    .jnv-dropdown__expand-icon {
      margin-left: 1rem;
    }
  }

  &__option {
    position: absolute;
    z-index: 9998;
  }
}