@import 'variables.scss';
@import 'auth.scss';
@import 'font/san-francisco.scss';
@import 'loader.scss';
@import 'menu.scss';


* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  //font-family: 'San Francisco Text', sans-serif;
}

html {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  min-width: 350px;
}

body {
  margin: 0;
  background-image: $jnv-app__background--primary;
  background-repeat: no-repeat;
  color: $jnv__color--white;

  button {
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    text-transform: uppercase;
    color: $jnv__color--white;
    border: none;
  }

  input {
    outline: none;
  }
}

.section {
  padding: $jnv__section-p-tnb--desktop $jnv__section-p-lnr--desktop;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

.jnv-layout__default {
  display: flex;
  flex-direction: column;
  align-items: center;

  .jnv-main-part {
    width: 100%;
    background: $jnv-main-part__main-part-background;
    box-shadow: 0 0 5px 1px $jnv__shadow-color--almost-black;
  }

  .jnv-main {
    width: 100%;

    .jnv-content {
      width: 100%;
      margin: 1rem auto 3rem;
    }
  }
}

.jnv-error__display {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}


.jnv-app__initial-screen {
  background-image: $jnv-app__background--primary;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  .jnv-app__initial-wrapper {
    //position: relative;

    img {
      width: 300px;
    }

    .jnv-loader__wrapper {
      //position: absolute;
      width: 100%;
    }
  }
}

.text-center {
  text-align: center !important;
}

@import 'responsive.scss';