@mixin jnv-menu($device) {
  .jnv-menu__container--#{$device} {
    @if $device == desktop {
      display: flex;
      justify-content: center;
      width: 100%;
      background: $jnv-header__desktop-menu-background;
    } @else {
      margin-top: 1rem;
    }

    .jnv-menu__wrapper--#{$device} {
      display: flex;
      font-size: 17px;
      text-transform: uppercase;

      @if $device == desktop {
        justify-content: center;
        width: 100%;
        font-weight: 800;
      } @else {
        flex-direction: column;
        font-weight: 600;
      }
      
      .jnv-menu__item--#{$device} {
        cursor: pointer;
        text-decoration: none;
        color: $jnv__color--white;

        @if $device == desktop {
          padding: 10px 15px;
        } @else {
          text-align: center;
          margin-bottom: 1rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
        
        &:hover {
          color: $jnv__color--scarlet !important;
          text-shadow: 0 0 8px $jnv__color--scarlet;
        }
      }

      .jnv-menu__active--#{$device} {
        @if $device == desktop {
          background-color: $jnv__color--scarlet;
          display: flex;
          align-items: center;
          border-radius: 20px 0 20px 0;
        } @else {
          span {
            background-color: $jnv__color--scarlet;
            padding: 5px 33px;
            border-radius: 20px 5px 20px 5px;
          }          
        }

        &:hover {
          color: $jnv__color--white !important;
        }     
      }
    }
  }
}



@include jnv-menu("desktop");
@include jnv-menu("mobile");