//Main Colors
$jnv__color--red: #ff0000;
$jnv__color--scarlet: #c41616;
$jnv__color--purply-pink: #e379db;
$jnv__color--blue: #328AF1;
$jnv__color--soft-blue: #328af1;
$jnv__color--dark-blue: #1c5291;
$jnv__color--dark-navy: #040e3c;
$jnv__color--light-grey: #b3b3b3;
$jnv__color--dark-grey: #222222;
$jnv__color--white: #fff;
$jnv__color--apricot: #ebb16c;
$jnv__color--black: #000000;
$jnv__color--almost-black: #101010;
$jnv__color--pale-black: #424242;
$jnv__color--green: #03ff00;
$jnv__color--kelly-green: #1fb11d;
$jnv__color--light-sage: #b3e9b2;
$jnv__color--bluish-gray: #7b929e;
$jnv__color--light-black: #2a2a2a;
$jnv__color--golden-gradient: radial-gradient(#ffed8a, #FFDE2E,#d1b000);

//Icon Colors
$jnv__icon-color--light-grey: #e3e3e3;
$jnv__icon-color--grey: #78909C;

//Shadow Colors
$jnv__shadow-color--dark-gray: #5c5656;
$jnv__shadow-color--light-black: #2e2e2e;
$jnv__shadow-color--almost-black: #0c0c0c;
$jnv__shadow-color--white: #fff;
$jnv__shadow-success: #62f155;
$jnv__shadow-warning: #fbe948;
$jnv__shadow-danger: #f93d3d;

//Margin & Padding
$jnv__section-p-lnr--desktop: 50px;
$jnv__section-p-tnb--desktop: 20px;
$jnv__section-p-lnr--mobile: 25px;
$jnv__section-p-tnb--mobile: 20px;

/* BACKGROUND */
$jnv-app__background--primary: radial-gradient(circle at 2% 0, #080e17, #365280 116%);
$jnv-user__menu-background: linear-gradient(90deg, #000000, transparent);
$jnv-hero-card__body-background: linear-gradient(80deg, #252728 0%, #101415 100%);
$jnv-main-part__main-part-background: linear-gradient(to right, #00010c, #001f2e);
$jnv-header__desktop-menu-background: radial-gradient(circle at 2%, #204c2a, #365280);
$jnv-hero-detail__background: rgb(0, 0, 0, 30%);
$jnv__bg-dark-navy--two-side-fade: radial-gradient(circle, $jnv__color--dark-blue, transparent);
$jnv__bg-success: linear-gradient(90deg, #047c00, #28ab24);
$jnv__bg-warning: linear-gradient(90deg, #a39208, #bbab20);
$jnv__bg-danger: linear-gradient(90deg, #a10101, #df0303);

/* HERO CARD */
$jnv-hero-card__border: 10px;
$jnv-hero-card__width: 256px;

/* HERO DETAIL */
$jnv-hero-detail__bg-padding: 2rem;

@mixin golden-gradient-text {
  background: $jnv__color--golden-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}